<%- layout('boilerplate') -%>

<section class = "mp_container cf" >
    <h1 ng-bind-template = "{{ 'TITLE' | translate }}">Hello</h1>
    <p ng-bind-template = "{{ 'FOO' | translate }}">This is a paragraph.</p>

<div ng-controller = "Ctrl">
    <li ng-repeat = "item in items">{{item.title}}</li>
    <button ng-click="changeLanguage('en')">English</button>
    <button ng-click="changeLanguage('de')">German</button>
</div>
</section>