<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Up2frets</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600&subset=latin,cyrillic' rel='stylesheet'type='text/css'>

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        
    </head>
    <body class = "loading">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <section class = "mp_container cf">
            <div class = "mp_left">
                <div class = "mp_vertical_holder">
                    <nav class = "mp_menu" ng-controller = "PhoneListCtrl">
                        <ul>
                            <li ng-repeat = "item in items">
                                <a href="{{item.linkUrl}}">
                                    <i class = "{{item.iconClass}}"></i>
                                </a>
                                <p>{{item.title}}</p>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class = "mp_right">
                <div class = "mp_vertical_holder">
                <ul class = "mp_chLang">
                    <li>
                        <a href="">Рус</a>
                    </li>
                    <li>
                        <a href="">Укр</a>
                    </li>
                    <li class = "mpcl_act">
                        <a href="">Eng</a>
                    </li>
                </ul>
                    <h1 class = "mp_logo">
                        <span class = "mp_logo_star"></span>
                        Up<span class = "mpm mp_2">2</span>frets
                    </h1>
                    <p>Musician, <span class = "mpm">web-developer</span> and a little designer :)</p>
                </div>
            </div>
        </section>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script type="text/javascript">
        $(function(){
            $('.mp_chLang').mouseover(function(){
                $(this).addClass('active');
            });
            setTimeout(function(){
                $('body').removeClass('loading');
            }, 1000);
        });
        </script>

        <script src="lib/angular/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/services.js"></script>
        <script src="lib/angular/angular-resource.js"></script>

    </body>
</html>
