@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic&subset=latin);

/* General styles */

html, body {
    width: 100%;
    height: 100%;
}
body {
    font: 300 16px/20px 'Open Sans', Helvetica, Segoe UI, Arial, sans-serif; 
    color: #e6e6e6;
    background: #1e1e1e;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

h1 {
    font-size: 120px;
    font-weight: 300;
    line-height: 140px;
    color: #e6e6e6;
}
h2 {
    margin: 0;
    padding: 20px 0 20px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    line-height: 42px;
    color: #e6e6e6;
}

em {
    font-style: normal;
    color: #ff2d2d;
}
article {
    margin: 0 auto;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    position: relative;
}
article:before,
article:after {
    content: '';
    position: absolute;
    background: url(../img/sprite.png);
}
article:before {
    width: 55px;
    height: 78px;
    left: -63px;
    top: -21px;
    background-position: 0 0;
}
article:after {
    width: 112px;
    height: 112px;
    right: -76px;  
    bottom: -21px;  
    background-position: -60px 0;
}
article p{
    margin: 0;
}
article em {
    font-weight: 400;
    font-style: italic;
}

.mp {
    width: 100%;
    background: #641a17;
}

.grid3 {
    width: 100%;
}
.grid3 .item-1, .grid3 .item-2, .grid3 .item-3 {
    float: left;
}
.grid3 .item-1, .grid3 .item-3 {
    width: 30%;
}
.grid3 .item-2 {
    width: 40%;
}
.grid3 .item-1,
.grid3 .item-2,
.grid3 .item-3 {
    transition: .5s ease;
    opacity: 0;
    -webkit-transform: translateY(-100px);
}
.grid3 .item-2 {
    transition-delay: .2s;
}
.grid3 .item-3 {
    transition-delay: .4s;
}

.grid4 {
    width: 100%;
}
.grid4 li {
    width: 25%;
    float: left;
}

.button_white {
    display: inline-block;
    position: relative;
    padding: 0 32px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    font-size: 36px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    color: #e6e6e6;
    transition: .3s ease;
}
.button_white:before {
    content: '';
    position: absolute;
    border: 2px solid #E6E6E6;
    border-radius: 16px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s ease;
}
.button_white:hover {
    background: #ff2d2d;
    border-color: #ff2d2d;
    color: #641A17;
}
.button_white:hover:before {
    opacity: 1;
    left: -8px;
    right: -8px;
    top: -8px;
    bottom: -8px;
    border-color: #ff2d2d;
}


/* Header */

header {
    width: 100%;
    height: 80px;
    position: fixed;
    background: rgba(30, 30, 30, 0.85);
    z-index: 30;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.header_nav {
    padding: 0 40px;
}
.header_nav_logo {
    display: inline-block;
    float: left;
    font-size: 28px;
    line-height: 80px;
    color: #e6e6e6;
    text-decoration: none;
}
.header_nav ul {
    display: inline-block;
    margin-right: 100px;
    float: right;
    text-align: right;
}
.header_nav ul li {
    display: inline-block;
}
.header_nav ul li a {
    display: block;
    padding: 0 30px;
    font-size: 20px;
    text-decoration: none;
    color: #e6e6e6;
    line-height: 80px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.header_nav ul li a:hover,
.header_nav ul li a.active {
    color: #ff2d2d;
}

/* Home section */ 

.mp-home {
    height: 100%;
    text-align: center;
    position: relative;
    background: #1e1e1e url(../img/pick.png) center no-repeat;
    z-index: 40;
}

.mp-home_title {
    margin: 0;
    padding-bottom: 45px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    opacity: 1;
}

.mp-home_title span {
    display: block;
    font-size: 50px;
    text-align: right;
    line-height: 35px;
    color: #ff2d2d;
}
.home-b {
    height: 100%;
}
.home-b:before {
    content: '';
    height: 100%;
}
.home-b,
.home-b:before,
.mp-home_title {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}   

.mp-home_scroll {
    display: block;
    width: 100%;
    height: 69px;
    padding: 18px 0 32px;
    border: 0;
    outline: 0;
    background: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: background .3s ease, opacity 1s ease, bottom 1s ease;
    -moz-transition: background .3s ease, opacity 1s ease, bottom 1s ease;
    -ms-transition: background .3s ease, opacity 1s ease, bottom 1s ease;
    -o-transition: background .3s ease, opacity 1s ease, bottom 1s ease;
    transition: background .3s ease, opacity 1s ease, bottom 1s ease;
}
.mp-home_scroll:hover {
    background: rgba(155, 19, 11, 0.5);
}
.mp-home_scroll:before,
.mp-home_scroll:after {
    content: '';
    display: inline-block;
    width: 132px;
    height: 69px;
    position: absolute;
    left: 50%;
    margin-left: -66px;
    background: url(../img/sprite.png) 0 -117px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;*/
}
.mp-home_scroll:before {
    opacity: 1;
    background-position: 0 -117px;
}
.mp-home_scroll:after {
    opacity: 0;
    background-position: 0 -191px;
}
.mp-home_scroll:hover:after {
    opacity: 1;
}
.mp-home_scroll:hover:after,
.mp-home_scroll:hover:before {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}

/* About section */

.mp-about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/about.jpg);
    background-position: center;
    background-size: cover;
}
.mp-about article {
    width: 660px;
    margin-top: 40px;
}
.mp-about_info {
    margin-top: 50px;
}
.about_info_list {
    margin-bottom: 50px;
    display: block;
    list-style: none;
}
.ail_item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.ail_item.item-1 {
    text-align: right;
}
.ail_item.item-3 {
    text-align: left;
}
.ail_item > a {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #e6e6e6;
    border-radius: 200px;
    border: 3px solid #e6e6e6;
    overflow: hidden;
    transition: .3s ease;
}
.ail_item > a:hover {
    background: #e6e6e6;
    border-color: #641a17;
    box-shadow: 0px 0px 0px 3px #e6e6e6;
}
.ail_item.item-1 a,
.ail_item.item-3 a{
    width: 250px;
    height: 250px;
    margin-top: 25px;
}
.ail_item.item-2 a {
    width: 300px;
    height: 300px;
}
.ail_item > a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.ail_item_out {
    display: inline-block;
    -webkit-backface-visibility: hidden; /* Chrome jitter hack */ 
}
.ail_item-b {
    display: inline-block;
    vertical-align: middle;
}
.ail_item_count {
    display: block;
    font-size: 100px;
    line-height: 100px;
}
.ail_item_count span {
    display: inline-block;
    width: 50px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: right;
}
.ail_item_title {
    font-size: 22px;
    line-height: 42px;
}
.ail_item_inside {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    color: #1e1e1e;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.ail_item_inside span {
    font-size: 30px;
    line-height: 250px;
}
.ail_item_inside span,
.ail_item_inside span:before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
}
.ail_item_inside:hover span,
.ail_item_inside:hover span:before {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.ail_scroll {
    display: block;
    margin-top: -20px;
    position: relative;
}
.ail_download {
    display: block;
    padding-top: 60px;
}
.ail_scroll:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 52px;
    left: 50%;
    margin-left: -50px;
    bottom: 48px;
    background: url(../img/sprite.png) -300px -112px;
}
.ail_download:before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 84px;
    left: 50%;
    margin-left: -50px;
    top: 65px;
    background: url(../img/sprite.png) -300px 0;
}

.ail_item > a:hover > .ail_item_inside {
    opacity: 1;
}

/* Principles section */

.mp-principles {
    position: relative;
    padding-bottom: 120px;
    background-image: url(../img/principles.jpg);  
    background-position: center;  
    -webkit-background-size: cover;
    background-size: cover;
}
.principles-b {
    padding-top: 80px;
    position: relative;
    text-align: center;
}
.mp-principles:before,
.mp-principles:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 5px dashed #E6E6E6;
}
.mp-principles:before {
    top: -3px;
}
.mp-principles:after {
    bottom: -3px;
}

.principles-b article {
    width: 440px;
}

.principles_list {
    margin-top: 30px;
    display: block;
    list-style: none;
}
.pl_item figure {
    margin: 0 auto;
}
.pl_item_image {
    margin: 0 auto;
    height: 165px;
}
.pl_item.item-1 .pl_item_image {
    width: 256px;
}
.pl_item_image img {
    max-width: 100%;
}

.pl_item.item-1 figure {
    width: 320px;
}
.pl_item.item-2 figure {
    padding: 0 20px;
}
.pl_item.item-3 figure {
    width: 220px;
}
.pl_item figure figcaption {
    margin: 20px 0 0;
    text-align: center;
}
.pl_item figure figcaption p {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
}

.pl_browsers {
    height: 135px;
    text-align: center;
}
.pl_browsers ul {
    display: block;
    list-style: none;
}
.pl_browsers ul li {
    line-height: 135px;
    display: inline-block;
}
.pl_browsers ul li span {
    font-size: 69px;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}
.pl_browsers ul li span:before, 
.pl_browsers ul li span:before {
    width: 82px;
    margin: 0 8px;
}
.pl_browsers ul li.active span {
    color: #c61f1f;
}

.principles_cv {
    margin: 20px 0 0;
}

/* Projects section */

.mp-projects {
    padding-top: 80px;
    background-image: url(../img/projects.jpg);  
    background-position: center;  
    -webkit-background-size: cover;
    background-size: cover;
}
.projects-b {
    width: 1000px;
    padding-bottom: 120px;
    margin: 0 auto;
}
.projects_list {
    display: block;
    margin-top: 35px;
    list-style: none;
}
.projects_list li {
    width: 320px;
    height: 213px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
}
.projects_list li.item-1 {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -ms-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.projects_list li.item-2 {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.projects_list li.item-3 {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.projects_list li.item-4 {
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.projects_list li.item-5 {
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.projects_list li.item-6 {
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -ms-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}
.projects_list li.item-7 {
    -webkit-transition-delay: .7s;
    -moz-transition-delay: .7s;
    -ms-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}
.projects_list li.item-8 {
    -webkit-transition-delay: .8s;
    -moz-transition-delay: .8s;
    -ms-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}
.projects_list li.item-9 {
    -webkit-transition-delay: .9s;
    -moz-transition-delay: .9s;
    -ms-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}
.active .projects_list li {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.projects_list li:nth-child(3n) {
    margin-right: 0;
}
.projects_list li a {
    position: relative;
    display: block;
    opacity: 1;
    z-index: 8;
    border-top: 0 solid #E6E6E6;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.projects_list li a:hover {
    border-top: 15px solid #E6E6E6;
}
.tile_outer {
    display: block;
    opacity: .85;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.tile_outer img {
    max-width: 100%;
}
.tile_inner {
    position: absolute;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(30, 30, 30, 0.6) url(../img/pattern.png);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.projects_list li a:hover .tile_inner {
    opacity: 1;
}

.tile_inner span {
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    color: #E6E6E6;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.projects_list li a:hover .tile_inner span {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
span.tile_inner_add {
    position: relative;
    font-size: 14px;
    line-height: 22px;
}
span.tile_inner_add:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 1px;
    background: #e6e6e6;
}
span.tile_inner_name {
    display: block;
    margin: 10px auto 5px;
    width: 110px;
    height: 110px;
    border: 2px solid #E6E6E6;
    border-radius: 100px;
    background: rgba(30, 30, 30, 0.76);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
}

li.tile_download {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li.tile_download a {
    width: 100%;
    height: 100%;
    border: 2px dashed rgba(230, 230, 230, 0.2);
    padding: 190px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: transparent;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}
li.tile_download a:hover {
    border: 2px dashed rgba(230, 230, 230, 1);
    padding-top: 140px;
    color: transparent;
    background: rgba(30, 30, 30, 0.2) url(../img/pattern.png);
    color: #e6e6e6;
}
li.tile_download a:before {
    content: '';  
    display: block;  
    position: absolute;  
    width: 100px;  
    height: 84px;  
    left: 50%;  
    margin-left: -50px;  
    top: 63px;  
    background: url(../img/sprite.png) -300px -191px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
}
li.tile_download a:hover:before {
    top: 35px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.mp-projects_scroll {
    position: relative;
    height: 108px;
    text-align: center;
    overflow: hidden;
}
.mp-projects_scroll a {
    display: inline-block;
    margin-top: 108px;
    width: 450px;
    height: 108px;
    background: url(../img/scroll.png);
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
.mp-projects_scroll a.active {
    margin-top: 10px;
}
.mp-projects_scroll a:hover {
    margin-top: 0;
}

/* Contacts section */

.mp-contacts {
    padding: 60px 0 100px;
    position: relative;
    background-color: #E6E6E6;
    background-image: url(../img/f_pick.png), url(../img/pattern.png);
    background-repeat: no-repeat, repeat;
    background-position: center,center;
    color: #1e1e1e;
}
.contacts_left {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}
.contacts_logo {
    display: inline-block;
    margin: 40px 0 0;
    padding: 20px 40px 20px 0;
    font-size: 70px;
    line-height: 76px;
    text-align: right;
    color: #1e1e1e;
}
.contacts_logo span {
    display: block;
    font-size: 25px;
    text-align: right;
    line-height: 25px;
}
.contacts_right {
    width: 50%;
    float: left;
    text-align: center;
}
.contacts_social {
    margin-top: 36px;
    list-style: none;
    text-align: center;
}
.contacts_social li {
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    vertical-align: middle;
}
.contacts_social li a {
    display: block;
    width: 66px;  
    height: 66px;
    border: 2px solid #1E1E1E;  
    border-radius: 999px;  
    font-size: 40px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    color: #e6e6e6;
    background: #1E1E1E;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
.contacts_social li a:hover {
    color: #1e1e1e;  
    background: #e6e6e6;
    box-shadow: 0px 0px 0px 4px #E6E6E6, 0px 0px 0px 6px #1E1E1E;
}
.contacts_social li a.icon-vk:before {
    margin-left: -4px;
}
.contacts_social li a.icon-linkedin {
    line-height: 62px;
}
.contacts_social li a.icon-github {
    line-height: 62px;
}
.contacts_social li a.icon-github:before {
    margin-left: 6px;
}

.contacts_info {
    display: inline-block;
    margin-top: 32px;
    border-top: 1px dashed #1E1E1E;
    text-align: left;
    list-style: none;
}
.contacts_info li {
    width: 310px;
    padding: 0 40px;
    margin: 0 auto;
    border-top: 1px dashed #1E1E1E;
    border-bottom: 1px dashed #1E1E1E;
    line-height: 36px;
    background: url(../img/pattern.png);
}
.contacts_info li:last-child {
    border-top: 0;
}
.contacts_info li a {
    color: #1e1e1e;
    text-decoration: none;
}
.contacts_info li strong {
    display: inline-block;
    width: 100px;
    text-align: center;
}


/* Dynamic properties */

.loading .mp-home_title {
    opacity: 0;
}
.loading .mp-home_scroll {
    bottom: 40px;
    opacity: 0;
}
.active .grid3 .item-1,
.active .grid3 .item-2,
.active .grid3 .item-3 {
    opacity: 1;
    -webkit-transform: translateY(0);
}

/* Media queries */

@media screen and (max-width: 1126px) {

    .mp-home_title {
        font-size: 80px;
        line-height: 90px;
    }
    .mp-home_title span {
        font-size: 30px;
        line-height: 32px;
    }
    .mp-home_scroll:before, 
    .mp-home_scroll:after {
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -o-transform: scale(.7);
        transform: scale(.7);
    }
    .mp-home_scroll:hover:after, .mp-home_scroll:hover:before {
        -webkit-transform: translateY(10px) scale(.7);
        -moz-transform: translateY(10px) scale(.7);
        -ms-transform: translateY(10px) scale(.7);
        -o-transform: translateY(10px) scale(.7);
        transform: translateY(10px) scale(.7);
    }
    header {
        height: 60px;
    }
    .header_nav_logo {
        font-size: 24px;
        line-height: 60px;
    }
    .header_nav ul {
        margin-right: 0;
    }
    .header_nav ul li a {
        font-size: 0;
    }
    .header_nav ul li a:before {  
        content: '•';
        font: 40px/60px Arial;
    }
    article {
        width: 60%;
        font-size: 18px;
        line-height: 22px;
    }
    .mp-about article {
        width: 75%;
    }
    .principles-b article {
        width: 60%;
    }
    .ail_item.item-1 a, .ail_item.item-3 a {
        width: 180px;
        height: 180px;
    }
    .ail_item.item-2 a {
        width: 225px;
        height: 225px;
    }
    .ail_item_count {
        font-size: 60px;
        line-height: 72px;
    }
    .ail_item_title {
        font-size: 16px;
        line-height: 22px;
    }
    .ail_item_count span {
        width: 45px;
        padding-right: 12px;
        font-size: 16px;
        line-height: 18px;
    }
    .ail_item_inside span {
        font-size: 18px;
        line-height: 180px;
    }
    .ail_item_inside span:before {
        -webkit-transform: translateY(-20px) scale(.6);
        -moz-transform: translateY(-20px) scale(.6);
        -ms-transform: translateY(-20px) scale(.6);
        -o-transform: translateY(-20px) scale(.6);
        transform: translateY(-20px) scale(.6);
    }
    .ail_item_inside:hover span:before {
        -webkit-transform: translateY(0) scale(.6);
        -moz-transform: translateY(0) scale(.6);
        -ms-transform: translateY(0) scale(.6);
        -o-transform: translateY(0) scale(.6);
        transform: translateY(0) scale(.6);
    }
    .ail_scroll {
        margin-top: -10px;
    }
    .ail_scroll:before {
        bottom: 28px;
    }
    .ail_download {
        padding-top: 46px;
    }
    .ail_download:before {
        top: 48px;
    }
    .pl_item figure {
        width: auto !important;
        padding: 0 10%;
    }
    .pl_item_image {
        display: table-cell;
        vertical-align: middle;
        width: 100% !important;
    }
    .pl_item figure figcaption p {
        font-size: 18px;
    }
    .pl_browsers {
        height: 185px;
    }
    .pl_browsers ul {
        padding: 0 15%;
    }
    .pl_browsers ul li {
        width: 50%;
        margin-right: -4px;
        line-height: 60px;
    }
    .pl_browsers ul li span {
        font-size: 50px;
        
    }
    h2 {
        font-size: 32px;
    }
    .button_white {
        font-size: 28px;
        line-height: 50px;
    }
    .principles_cv {
        margin-top: 36px;
    }
    .projects-b {
        width: 100%;
    }
    .projects_list {
        width: 100%;
        text-align: center;
    }
    .projects_list > div.cf:after {
        content: '';
        display: block;
        width: 60%;
        margin: 0 auto;
        border-bottom: 1px dashed #E6E6E6;
    }
    .projects_list li {
        display: inline-block;
        float: none;
        width: 30%;
        height: auto;
        margin: 1%;
        padding: 20px 0 10px;
        vertical-align: top;
    }
    .projects_list li a {
        border: 0 !important;
    }
    .projects_list li:nth-child(3n) {
        margin-right: 1%;
    }
    .tile_inner {
        display: block;
        margin-top: 5px;
        padding: 0;
        position: static;        
        opacity: 1;
        background: none;
    }
    span.tile_inner_name {
        display: none;
        -webkit-transform: translateY(0);  
        -moz-transform: translateY(0);  
        -ms-transform: translateY(0);  
        -o-transform: translateY(0);  
        transform: translateY(0);
    }
    .tile_inner span {
        -webkit-transform: translateY(0);  
        -moz-transform: translateY(0);  
        -ms-transform: translateY(0);  
        -o-transform: translateY(0);  
        transform: translateY(0);
    }
    li.tile_download a {
        padding: 116px 0 0 !important;
        color: #e6e6e6 !important;
        background: none !important;
        font-size: 18px !important;
    }
    li.tile_download a:before {
        -webkit-transform: scale(.7) !important;
        -moz-transform: scale(.7) !important;
        -ms-transform: scale(.7) !important;
        -o-transform: scale(.7) !important;
        transform: scale(.7) !important;
        top: 25px !important;
    }
    .mp-projects_scroll {
        height: 72px;
    }
    .mp-projects_scroll a {
        width: 300px;
        height: 72px;
        background-size: 100%;
    }
    .mp-contacts {
        padding: 20px 0;
        background-position: -9999px center;
    }
    .contacts_left,
    .contacts_right {
        width: 100%;
        float: none;
    }
    .contacts_info {
        width: 100%;
        border-top: 0;
    }
    .contacts_logo {
        display: none;
    }
    .contacts_social {
        margin-top: 10px;
    }
    .contacts_social li a {
        width: 46px;
        height: 46px;
        font-size: 25px;
        line-height: 46px !important;
    }
}

@media screen and (max-width: 699px) {

    .mp li,
    .mp h1,
    .mp a {
        opacity: 1 !important;
        -webkit-transform: translateY(0) !important;
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -o-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }
    .mp-home_title {
        font-size: 52px;
        line-height: 62px;
    }
    .mp-home_title span {
        font-size: 22px;
        line-height: 28px;
    }
    header {
        display: none;
    }
    article {
        width: 90% !important;
        padding: 15px 5%;
        color: #1e1e1e !important;
        background: #e6e6e6;
        border-top: 2px dashed #1E1E1E;
        border-bottom: 2px dashed #1E1E1E;
    }
    .mp-about article {

    }
    article:before,article:after {
        display: none;
    }
    .mp-about,.mp-principles,.mp-projects {
        background: #1e1e1e !important;
    }
    article em {
        color: #1e1e1e;
    }
    .mp-about {
        padding: 60px 0 20px;
    }
    .grid3 .item-1, .grid3 .item-2, .grid3 .item-3 {
        width: 100%;
        float: none;
        text-align: center;
    }
    .ail_item a {
        width: 100% !important;
        height: auto !important;
        margin-top: 0 !important;
        border: 0 !important;
        border-radius: 0 !important;
        background: none !important;
        box-shadow: none !important;
    
    }
    .ail_item_inside {
        display: block;
        width: 40%;
        margin: 0 0 0 -4px;
        padding: 0 5%;
        float: right;
        height: 130px;
        text-align: right;
        position: static;
        opacity: 1;
        border-radius: 0;
        background: #e6e6e6;
    
    }
    .ail_item_inside span {
        margin-top: 0;
        line-height: 130px;
        -webkit-transform: translateY(0) !important;
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -o-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }
    .ail_item_out {
        display: block;
        width: 50%;
        height: 130px;
        float: left;
    }
    .ail_item-b {
        padding-top: 15px;
        display: block;
    
    }
    .ail_scroll:before,
    .ail_download:before{
        left: 10%;
        top: 46px;
        -webkit-transform: scale(0.6) !important;  
        -moz-transform: scale(0.6) !important;  
        -ms-transform: scale(0.6) !important;  
        -o-transform: scale(0.6) !important;  
        transform: scale(0.6) !important;
    }
    .ail_download {
        padding-top: 0;
    }
    .ail_download:before {
        top: 20px !important;
    }
    .ail_item.item-2 .ail_item_out {
        float: right;
    }
    .ail_item.item-2 .ail_item_inside {
        float: left;
        margin: 0 -4px 0 0;
    }
    .pl_item_image {
        display: table-cell;
        width: 50% !important;
    }
    .pl_item figure {
        padding: 0 5%;
        display: table;
        vertical-align: middle;
    }
    .pl_item figure figcaption {
        display: table-cell;
        width: 46%;
        padding: 0 2%;
        vertical-align: middle;
    }
    .pl_item {
        height: 200px;
    }
    .pl_item.item-2 .pl_item_image {
        float: right;
    }
    .pl_item.item-2 figure figcaption {
        margin-top: 40px;
        float: left;
    }
    .mp-principles {
        padding-bottom: 40px;
    }
    .principles-b {
        padding-top: 40px;
    }
    .pl_item.item-2 figure {
        padding: 25px 0 0;
    }
    .mp-projects {
        padding-top: 40px;
    }
    .projects-b {
        padding-bottom: 40px;
    }
    .projects_list li {
        width: 100%;
        padding: 0;
        margin: 0 !important;
    }
    .projects_list li:nth-child(3n) {
        margin-right: 0;
    }
    .tile_outer {
        width: 50%;
        display: table-cell;
    }
    .tile_inner {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
    }
    .projects_list > div.cf:after {
        border: 0;
    }
    .item-2 .tile_outer,.item-4 .tile_outer,.item-6 .tile_outer,.item-8 .tile_outer {
        float: right;
    }
    .projects_list li a {
        overflow: hidden;
    }
    .item-2 .tile_inner, .item-4 .tile_inner, .item-6 .tile_inner, .item-8 .tile_inner {
        padding-top: 11%;
        float: left;
    }
    li.tile_download {
        display: block;
        margin: 25px auto 0!important;
        width: 200px;
        height: 200px;
        border: 2px solid #E6E6E6;
        border-radius: 100px;
    }
    .mp-projects_scroll a {
        margin-top: 0;
    }
}

@media screen and (max-width: 499px) {

    .projects_list li {
        width: 100%;
        padding: 0;
        margin: 0 !important;
    }
    .projects_list li:nth-child(3n) {
        margin-right: 0;
    }
    .tile_outer {
        width: 50%;
        display: table-cell;
    }
    .tile_inner {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
    }
    .projects_list > div.cf:after {
        border: 0;
    }
    .item-2 .tile_outer,.item-4 .tile_outer,.item-6 .tile_outer,.item-8 .tile_outer {
        float: right;
    }
    .projects_list li a {
        overflow: hidden;
    }
    .item-2 .tile_inner, .item-4 .tile_inner, .item-6 .tile_inner, .item-8 .tile_inner {
        padding-top: 11%;
        float: left;
    }
    li.tile_download {
        display: block;
        margin: 25px auto 0!important;
        width: 200px;
        height: 200px;
        border: 2px solid #E6E6E6;
        border-radius: 100px;
    }
    .mp-home_title {
        font-size: 32px;
        line-height: 40px;
    }
    .mp-home {
        background-size: 85%;
    }
    .mp-home_title span {
        font-size: 16px;
        line-height: 24px;
    }
    .ail_item_out,.ail_item_inside {
        width: 90%;
        padding: 0 5%;
        margin: 0;
        float: none;
    }
    .ail_item-b {
        padding-top: 0;
    }
    .ail_item_inside {
        height: 80px;
    }
    .ail_item_inside span {
        line-height: 80px;
    }
    .ail_scroll:before {
        top: 18px;
    }
    .ail_download:before {
        top: -1px !important;
    }
    .mp-about_info {
        margin-top: 20px;
    }
    .pl_item_image, .pl_item figcaption {
        display: block !important;
        width: 88% !important;
        padding: 0 6%;
        margin: 20px auto 0 !important;
        height: auto !important;
        float: none !important;
    }
    .pl_item {
        height: auto;
        border-bottom: 1px dashed #e6e6e6;
    }
    .pl_item figure {
        padding: 25px 0 !important;
    }
    .pl_item.item-3 {
        border: 0;
    }
    .button_white {
        font-size: 22px;
        line-height: 42px;
    }
    .tile_outer,.tile_inner {
        width: 100%;
        display: block;
        padding: 0 !important;
        float: none !important;
    }
    .tile_inner {
        position: absolute;
        top: 10%;
    }
    .tile_outer {
        opacity: .3;
    }
    .projects_list li {
        margin-bottom: 16px !important;
    }
    span.tile_inner_name {
        display: block;
        width: 80px;
        height: 80px;
    }
    span.tile_inner_name img {
        max-width: 100%;
    }
    .contacts_info li {
        width: 260px;
        padding: 0 10px;
        font-size: 14px;
    }
    .contacts_info li strong {
        width: 65px;
    }
}